1.Write a python program to implement List-to-Series Conversion.

In [1]:
import pandas as pd

a =[int(i) for i in input("Enter numbers").split()]

series1 = pd.Series(a)

print(series1)

Enter numbers1 4 6 7 9
0    1
1    4
2    6
3    7
4    9
dtype: int64

2.Write  a  python  program  to Generate  the  series  of  dates  from  1st  May,  2021  to  12th May, 2021 (both inclusive).

In [6]:
import pandas as pd
dates=pd.date_range(start='05-01-2021',end='05-12-2021')
for i in dates:
    print(i)

2021-05-01 00:00:00
2021-05-02 00:00:00
2021-05-03 00:00:00
2021-05-04 00:00:00
2021-05-05 00:00:00
2021-05-06 00:00:00
2021-05-07 00:00:00
2021-05-08 00:00:00
2021-05-09 00:00:00
2021-05-10 00:00:00
2021-05-11 00:00:00
2021-05-12 00:00:00

3.Given a dictionary, convert it into corresponding dataframe and display it.

In [11]:
import pandas as pd
keys=input("Enter the keys").split()
values=input("Enter the values").split()
dict1={"name" : keys, "marks" : values}
df=pd.DataFrame.from_dict(dict1)
print("\nThe Dataframe is\n\n",df)

Enter the keysabhi adee anju anu
Enter the values67 56 89 90

The Dataframe is
    name marks
0  abhi    67
1  adee    56
2  anju    89
3   anu    90

4.Given a 2D List, convert it into corresponding dataframe and display it.

In [14]:
import pandas as pd
m=int(input("Enter number of rows"))
print("Enter elements row-wise")
matrix=[]
for i in range(m):
    a=input().split()
    matrix.append(a)
df=pd.DataFrame(matrix,columns=["Name","Marks"]) 
print("\nThe Dataframe is\n\n",df)

Enter number of rows3
Enter elements row-wise
"Anu" 89
"Anju" 78
"Adee" 56
     Name Marks
0   "Anu"    89
1  "Anju"    78
2  "Adee"    56

5.Given a CSV file, read it into a dataframe and display it.

In [16]:
import pandas as pd
df=pd.read_csv("file2.csv")
print("The Dataframe is\n",df)

The Dataframe is
    Name  Marks Subject
0  abhi     45      CS
1   anu     89      DS
2  ashi     90      DL

6.Given a dataframe, sort it by multiple columns.

In [20]:
import pandas as pd
df=pd.read_csv("file2.csv")
print("The Dataframe is\n",df)
print("The Dataframe sorted by Name is\n",df.sort_values(by="Name"))
print("The Dataframe sorted by Marks is\n",df.sort_values(by="Marks"))
print("The Dataframe sorted by Subject is\n",df.sort_values(by="Subject"))

The Dataframe is
     Name  Marks Subject
0   ashi     59      ML
1  ardra     49      DS
2   abhi     70      DL
The Dataframe sorted by Name is
     Name  Marks Subject
2   abhi     70      DL
1  ardra     49      DS
0   ashi     59      ML
The Dataframe sorted by Marks is
     Name  Marks Subject
1  ardra     49      DS
0   ashi     59      ML
2   abhi     70      DL
The Dataframe sorted by Subject is
     Name  Marks Subject
2   abhi     70      DL
1  ardra     49      DS
0   ashi     59      ML

7.Given  a dataframe  with  custom  indexing,  convert  it  to  default  indexing  and display it.

In [23]:
import pandas as pd
df=pd.read_csv("file2.csv")
df=df.set_index("Name")
print("The custom-indexed Dataframe is\n",df)
df=df.reset_index()
print("The default-indexed Dataframe is\n",df)

The custom-indexed Dataframe is
        Marks Subject
Name
ashi      59      ML
ardra     49      DS
abhi      70      DL
The default-indexed Dataframe is
     Name  Marks Subject
0   ashi     59      ML
1  ardra     49      DS
2   abhi     70      DL

8.Given a dataframe, select first 2 rows and output them.

In [24]:
import pandas as pd
df=pd.read_csv("file2.csv")
print("First 2 rows of the DataFrame\n",df.head(2))

First 2 rows of the DataFrame
     Name  Marks Subject
0   ashi     59      ML
1  ardra     49      DS

9.Given  is  a  dataframe  showing  name,  occupation,  salary  of  people.  Find  the  average salary per occupation.

In [27]:
import pandas as pd
df=pd.read_csv("file3.csv")
print("DataFrame\n",df)
averSal=df.groupby("Occupation")["Salary"].mean()
print(averSal)

DataFrame
         Name Occupation  Salary
0       Abhi   Engineer    5000
1      Bipin     Doctor    8000
2      Rahul   Mechanic    3000
3       Abhi   Mechanic    4000
4      Rejin   Mechanic    7000
5    Anupama   Engineer    7000
6  Arundathi   Engineer    6000
7       Arun   Engineer    5000
8       Abhi   Engineer    4000
9       Balu     Doctor    6000
Occupation
Doctor      7000.000000
Engineer    5400.000000
Mechanic    4666.666667
Name: Salary, dtype: float64

10.Given a dataframe with NaN Values, fill the NaN values with 0.

In [29]:
import pandas as pd
df=pd.read_csv("file4.csv")
print("DataFrame\n",df)
print("DataFrame\n",df.fillna(0))

DataFrame
         Name Occupation  Salary
0       Abhi   Engineer     NaN
1      Bipin     Doctor  8000.0
2      Rahul   Mechanic     NaN
3       Abhi   Mechanic  4000.0
4      Rejin   Mechanic  7000.0
5    Anupama   Engineer     NaN
6  Arundathi   Engineer  6000.0
7       Arun   Engineer  5000.0
8       Abhi   Engineer     NaN
9       Balu     Doctor  6000.0
DataFrame
         Name Occupation  Salary
0       Abhi   Engineer     0.0
1      Bipin     Doctor  8000.0
2      Rahul   Mechanic     0.0
3       Abhi   Mechanic  4000.0
4      Rejin   Mechanic  7000.0
5    Anupama   Engineer     0.0
6  Arundathi   Engineer  6000.0
7       Arun   Engineer  5000.0
8       Abhi   Engineer     0.0
9       Balu     Doctor  6000.0

11.Given  is  a  dataframe  showing  Company  Names  (cname)  and  corresponding  Profits (profit).  Convert the  values  of  Profit  column  such that  values  in  it  greater than  0  are set to True and the rest are set to False.

In [38]:
import pandas as pd
df=pd.read_csv("file5.csv")
print("DataFrame\n",df)
df.loc[df["profit"] > 0, "profit"] = True
df.loc[df["profit"] <= 0, "profit"] = False
print("New DataFrame\n",df)

DataFrame
   cname  profit
0   ABC      15
1   ACD      -6
2   XYZ       9
3   RPM      -5
4   GHK       9
New DataFrame
   cname profit
0   ABC   True
1   ACD  False
2   XYZ   True
3   RPM  False
4   GHK   True

12.Given are 2 dataframes, with one dataframe containing Employee ID (eid), Employee Name (ename) and Stipend (stipend) and the other dataframe containing Employee ID (eid) and designation of the employee (designation). Output the Dataframe containing Employee   ID   (eid),   Employee   Name   (ename),   Stipend   (stipend)   and   Position (position).

In [2]:
import pandas as pd
df1=pd.read_csv("one.csv")
print("DataFrame1\n",df1)
df2=pd.read_csv("two.csv")
print("DataFrame2\n",df2)
result=pd.merge(df1,df2,on="eid")
print("Merged Dataframe\n",result)

DataFrame1
    eid   ename  stipend
0    1    Rani     2500
1    2     Anu     1500
2    3  Raghav     3000
3    4  Akshit     2600
4    5     Ram     1800
DataFrame2
    eid designation
0    4     Manager
1    1       Clerk
2    3       Clerk
3    2     Manager
4    5  Accountant
Merged Dataframe
    eid   ename  stipend designation
0    1    Rani     2500       Clerk
1    2     Anu     1500     Manager
2    3  Raghav     3000       Clerk
3    4  Akshit     2600     Manager
4    5     Ram     1800  Accountant